/* MEDIA QUERIES */

/* Tablet in modalità orizzontale */
@media all and (max-width: 990px){
    #contatti h2{
        text-align: center !important;
    }
}


@media all and (min-width: 768px) and (max-width: 1365px)  { 
    .navbar-bt{
        transition:500ms ease;
        width: 80%;;
        z-index: 99999;
        position: fixed !important;
        background: transparent;
        box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0), 10px 10px 20px 0 rgba(0, 0, 0, 0), inset 0px 0px 0px 0 rgba(0, 0, 0, 0) !important;
    }
    .navbar-toggler:hover {
        background-color: rgba(0, 0, 0, 0) !important;
        border: 2px solid rgba(0, 0, 0, 0);
        box-shadow: 0px 10px 20px 0px rgb(13 48 75 / 0%);
    }

    .scrolled{
        width: 80%;;
        z-index: 99999;
        position: fixed !important;
        
        font-weight: 400 !important;
        font-size: 20px;
        font-family: 'Poppins', sans-serif; 
        text-transform: uppercase;
        margin: 2% 10% 0% 10%; 
        padding: 20px 30px 20px 30px !important;
        background: #6D7AFD;
        box-shadow: -10px -10px 20px 0 rgba(255,255,255,0.05), 10px 10px 20px 0 rgba(70,82,199,0.41), inset 1px 1px 3px 0 rgba(255,255,255,0.09) !important;
        border-radius: 52px; 
    }

    .scrolled .navbar-toggler:hover {
        background-color: #6D7AFD !important;
        border: 2px solid #6D7AFD;
        box-shadow: 0px 10px 20px 0px rgb(13 48 75 / 0%);
    }

    .show{
        background-color: #6d7afd;
        border-radius: 30px;
    }
    

    .tooltip{
        display: none!important;
    }

    .back{
        margin: 0px !important;
        background-image: url("../src/img/tablet-back.jpg");
        background-size: cover;
        height: 100vh!important;
        background-repeat: no-repeat;
    }

    .hero-text{
        margin-top: -20%;
        text-align: center;
    }

    .herobanner{
        height: 100vw !important;
        background-image: none;
    }

    #icone{
        margin-top: 0px;
        background-image: none;
        background: #6776f380;
    }

    #contatti form{
        margin-top: 70px;
    }

    #contatti{
        background-image: none;
        background: #6776f380;
    }

    #contatti h2{
        font-size: 50px!important;
    }

    .scroll{
        margin-top: 150px;
    }

}

/* Smartphone o piccoli Tablet */
/* @media all and (max-width: 768px) {
    .tooltip{
        display: none!important;
    }
    
    h1{
        font-size: 70px!important;
    }

    h2, #contatti h2{
        font-size: 40px !important;
    }

    h3{
        font-size: 20px !important;
    }

    h4, .icone h4{
        margin-top: 10px !important;
        margin-bottom: 50px !important;
        font-size: 18px !important;
    }

    p{
        font-size: 16px!important;
    }

    label{
        font-size: 12px !important;
    }

    .back{
        background-image: url("../src/img/back-cloud1.svg");
        background-size: cover;
    }

    .navbar-bt{
        width: 80%;
        z-index: 99999;
        position: fixed !important;
    }

    .navbar-bt img{
        height: 30px!important;
    }

    .herobanner{
        background-image: none;
        height: 600px !important;
    }

    .hero-text{
        margin-top: 230px;
        text-align: center;
    }

    .scroll{
        margin-top: 70px;
    }

    #icone{
        padding-top: 70px!important;
        padding-bottom: 30px !important;
        background-image: none;
        background: #6776f380;
    }

    .icon1{
        height: 120px;
        width: 120px;
    }

    .icon1 img{
        height: 50px;
    }

    #chisono{
        margin-top: 70px!important;
        margin-bottom: 70px!important;
    }

    #chisono img{
        height: 200px;
    }

    #chisono h4{
        margin-top: 20px !important;
        margin-bottom: 20px !important;
    }

    form{
        margin-top: 50px;
    }

    .secondary-button, .primary-button{
        font-size: 16px;
        padding: 15px;
        width: 200px;
    }

    button:hover{
        transform: rotate(0deg);
    }

    #contatti{
        background-image: none;
        background: #6776f380;
    }

    #contatti h2{
        text-align: center;
    }


 }  */





 @media all and (max-width: 767px) {
    .navbar-bt{
        transition:500ms ease;
        width: 80%;
        z-index: 99999;
        position: fixed !important;
        font-size: 20px;
        margin: 2% 10% 0% 10%; 
        padding: 20px 30px 20px 30px !important;
        background: transparent;
        box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0), 10px 10px 20px 0 rgba(0, 0, 0, 0), inset 0px 0px 0px 0 rgba(0, 0, 0, 0) !important;
    }

    .navbar-toggler:hover {
        background-color: rgba(0, 0, 0, 0) !important;
        border: 2px solid rgba(0, 0, 0, 0);
        box-shadow: 0px 10px 20px 0px rgb(13 48 75 / 0%);
    }

    .scrolled{
        width: 80%;
        background-color: #6D7AFD;
        padding: 5px 20px !important;
        margin: 0% 10%;
        border-radius: 0px 0px 30px 30px;
        box-shadow: -10px -10px 20px 0 rgba(255,255,255,0.05), 10px 10px 20px 0 rgba(70,82,199,0.41), inset 1px 1px 3px 0 rgba(255,255,255,0.09) !important; 
    }

    .scrolled .navbar-toggler:hover {
        background-color: #6D7AFD !important;
        border: 2px solid #6D7AFD;
        box-shadow: 0px 10px 20px 0px rgb(13 48 75 / 0%);
    }

    .scrolled .show{
        background-color: #6d7afd;
        border-radius: 30px;
        box-shadow: -6px 20px 20px 0 rgb(255 255 255 / 0%), 8px 20px 20px 0 rgb(70 82 199 / 0%), inset 0px -2px 3px 0 rgb(255 255 255 / 0%) !important; 
    }

    .show{
        background-color: #6d7afd;
        border-radius: 30px;
        box-shadow: -1px 4px 20px 0 rgb(255 255 255 / 5%), 2px 20px 20px 5px rgb(70 82 199 / 41%), inset 0px -2px 3px 0 rgb(255 255 255 / 9%) !important; 
    }


    .tooltip{
        display: none!important;
    }
    
    h1{
        font-size: 50px!important;
    }

    h2, #contatti h2{
        font-size: 40px !important;
    }

    h3{
        font-size: 20px !important;
    }

    h4, .icone h4{
        margin-top: 10px !important;
        margin-bottom: 50px !important;
        font-size: 18px !important;
    }

    p{
        font-size: 16px!important;
    }

    label{
        font-size: 12px !important;
    }

    .back{
        background-image: url("../src/img/mobile-back.jpg");
        background-size: 100vw;
        background-repeat: none !important;
    }

    /* .navbar-bt{
        width: 80%;
        z-index: 99999;
        position: fixed !important;
    } */

    .navbar-bt img{
        height: 30px!important;
    }

    .herobanner{
        background-image: none;
        height: 220vw !important;
    }

    .herobanner button{
        margin: 0px;
    }

    .hero-text{
        text-align: center;
        margin-top: -50%;
    }



    .desktop{
        display: none;
    }

    #icone{
        padding-top: 70px!important;
        padding-bottom: 30px !important;
        background-image: none;
        background: #6776f380;
        margin-top: 0px;
    }

    .icon1{
        height: 120px;
        width: 120px;
    }

    .icon1 img{
        height: 50px;
    }

    #chisono{
        margin-top: 70px!important;
        margin-bottom: 70px!important;
    }

    #chisono img{
        height: 200px;
    }

    #chisono h4{
        margin-top: 20px !important;
        margin-bottom: 20px !important;
    }

    form{
        margin-top: 50px;
    }

    .secondary-button, .primary-button{
        font-size: 16px;
        padding: 15px;
        width: 200px;
    }

    button:hover{
        transform: rotate(0deg);
    }

    #contatti{
        background-image: none;
        background: #6776f380;
    }

    #contatti h2{
        text-align: center;
    }


 } 