html{
    scroll-behavior: smooth;
}

*::selection{
    background-color: #74EBD5;
}

input:hover, textarea:hover {
    cursor: url("../src/img/cursor-text.svg"), auto !important;
    transition-duration: 0.5s;
}

div, a, button, html, label:hover, span:hover{
    cursor: url("../src/img/cursor.svg"), auto;
    cursor: url('../src/img/cursor.svg'), pointer !important;
    transition-duration: 0.5s;
}

body{
    color: white !important;
    font-family: 'Poppins', sans-serif !important;
    background-color: #6D7AFD !important;
}

button:focus{
    outline: none !important;
}

/* BUTTON */

.primary-button{
    margin-top: 20px;
    text-transform: uppercase;
    padding: 15px;
    width: 250px;
    background: #74EBD5;
    color: #6D7AFD;
    border: 2px solid #74EBD5;
    border-radius: 34.5px;
    font-weight: 500;
    font-size: 18px;
    transition-duration: 0.5s;
}

.secondary-button{
    margin-top: 40px;
    text-transform: uppercase;
    padding: 15px;
    width: 250px;
    border: 2px solid #74EBD5;
    border-radius: 34.5px;
    background: #6D7AFD;
    font-weight: 500;
    font-size: 18px;
    color: #74EBD5;
    transition-duration: 0.5s;
}

button:hover{
    background-color: #91ffea;
    border: 2px solid #91ffea;
    box-shadow: 0px 10px 20px 0px rgb(13 48 75 / 30%);
    transition-duration: 0.5s;
    color: #6D7AFD;
    transform: rotate(-5deg);
}

/* .green-mark {
    background-color: #74EBD5 !important; 
    color: #6D7AFD !important;
    font-weight: 500;
    padding: 0 !important;
} */
.green-mark {
    background-color: rgba(116, 235, 213, 0) !important; 
    color: #74EBD5 !important;
    font-weight: 500;
    padding: 0 !important;
}

.purple-mark{
    /* background-color: #b6bdff !important;  */
    background: rgb(127, 138, 255);
    /* color: #6D7AFD !important; */
    color: white!important;
    font-weight: 500;
    padding: 0 !important;
    box-shadow: -10px -10px 20px 0 rgba(255,255,255,0.05), 10px 10px 20px 0 rgba(70,82,199,0.41), inset 1px 1px 3px 0 rgba(255,255,255,0.09) !important;
}

.white-mark{
    background-color: white !important;   
    color: #6D7AFD !important;
    font-weight: 500;
    padding: 0 !important;
}

/* TITLE */

h1{
    font-weight: 700 !important;
    font-size: 100px !important;
}

h2{ 
    margin-bottom: 20px;
    font-size: 70px !important;
    font-weight: 700 !important;
}

h3{
    color: #b0b8ff !important;
    font-style: italic !important;  
}

h4{
    font-weight: 500 !important;;
}

p{
    color: white !important;
    margin-bottom: 50px;
    font-size: 20px !important;
}

/* NAVBAR */

.navbar-brand img{
height: 40px !important;
}

.navbar-bt{
    /* background-image: url('../src/img/back-cloud.svg');
    background-size: 800px; 
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    z-index: 99999999;  */
    font-weight: 400 !important;
    font-size: 20px;
    font-family: 'Poppins', sans-serif; 
    text-transform: uppercase;
    margin: 2% 10% 0% 10%; 
    padding: 20px 30px 20px 30px !important;
    background: #6D7AFD;
    box-shadow: -10px -10px 20px 0 rgba(255,255,255,0.05), 10px 10px 20px 0 rgba(70,82,199,0.41), inset 1px 1px 3px 0 rgba(255,255,255,0.09) !important;
    border-radius: 52px;
}

.nav-link{
    color: white !important;
}
.nav-link:hover{
    color: #74EBD5 !important;
    /* transform: rotate(-5deg); */
    text-decoration: underline !important;
}

.navbar-bt img{
    height: 50px;
}

.navbar-toggler:hover{
    background-color: #6D7AFD !important; 
    border: 2px solid #6D7AFD;
    box-shadow: 0px 10px 20px 0px rgb(13 48 75 / 0%);
}

.navbar-bt .nav-item {
    text-align: center;
}

.navbar-bt button:hover{
    transform: rotate(0deg);
}

.tooltip{
    z-index: 999999999!important;
    color: #6D7AFD !important;
}

.tooltip-inner {
    box-shadow: 0px 10px 20px 0px rgb(13 48 75 / 30%);
    background-color: #74EBD5 !important;
    color: #6D7AFD !important;
    border-radius: 30px!important;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500!important;
    padding-left: 15px!important;
    padding-right: 15px!important;
  }
  .bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
    border-top-color: #74EBD5 !important;
  }
  
  .bs-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^="right"] .arrow::before {
    border-right-color: #74EBD5 !important;
  }
  
  
  .bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
    border-bottom-color: #74EBD5 !important;
  }
  
  
  .bs-tooltip-left .arrow::before, .bs-tooltip-auto[x-placement^="left"] .arrow::before {
    border-left-color: #74EBD5 !important;
  }

/* HEROBANNER */
.herobanner{
    background-image: url('../src/img/hero-back2.jpg');
    background-size: cover; 
    background-position: center;
    /* background-attachment: fixed; */
    width: 100vw !important;
    height: 710px !important;
}

.hero-text{
    margin-top: 50px;
    margin-bottom: 50px;
}

.herobanner a{
    padding: 0 !important;
}
/* .herobanner button:hover{
    background: #74EBD5;
    color: #6D7AFD;
    transition-duration: 0.5s;
} */

.scroll{
    height: 60px;
    width: 60px;
    background: #6D7AFD;
    box-shadow: -10px -10px 20px 0 rgba(255,255,255,0.05), 10px 10px 20px 0 rgba(70,82,199,0.41), inset 1px 1px 3px 0 rgba(255,255,255,0.09);
    border-radius: 34.5px;
    border: none !important;
    transition: 0.5s;
}

.scroll:hover{
    background: #6D7AFD;
    box-shadow: 1px 1px 3px 0 rgba(255,255,255,0.12),  10px 10px 20px 0 rgba(70,82,199,0.0), inset 1px 1px 10px 0 rgba(70,82,199,0.40);
    transition: 0.5s;
}

.scroll img{
    margin-top: 3px;
    width: 32px;
    height: 15px;
}

.herobanner img{
    height: 500px;
}


/* ICONS */
#icone{
    background-image: url('../src/img/back-cloud.png');
    background-size: 800px; 
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 50px;
    /* background: #6776f380; */
    box-shadow: 1px 1px 3px 0 rgba(255,255,255,0.12), inset 1px 1px 10px 0 rgba(70,82,199,0.40);
}

.icon1{
    border-radius: 100px;
    height: 164px;
    width: 164px;
    background: #626fe7;
    box-shadow: 1px 1px 3px 0 rgba(255,255,255,0.12), inset 1px 1px 10px 0 rgba(70,82,199,0.40);
}

.icon1 img{
    height: 70px;
}

#icone h4{ 
    margin-top: 30px !important;
    margin-bottom: 50px;
}

#icone p{ 
    color: #c2c8fe !important;
    margin-top: 10px !important;
    margin-bottom: 50px !important;
}

/* CHI SONO */

#chisono{
    /* background-image: url('../src/img/back-chisono.svg');
    background-size: 800px; 
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat; */
    margin-top: 100px;
    margin-bottom: 100px;
}

#chisono h4{
    margin-bottom: 20px;
}

#chisono p{
    margin-bottom: 30px;
}

#chisono label{
    margin-bottom: 30px;
}

#chisono img{
    height: 300px;
    width: auto;
}

#chisono a{
    color: #74EBD5 !important;
    text-decoration: underline;
    transition-duration: 0.2s;
    font-weight: 500;
}

#chisono a:hover{
    transition-duration: 0.2s;
    text-decoration: underline;
    background: rgb(127, 138, 255);
    font-weight: 500;
    padding: 0 !important;
    box-shadow: -10px -10px 20px 0 rgba(255,255,255,0.05), 10px 10px 20px 0 rgba(70,82,199,0.41), inset 1px 1px 3px 0 rgba(255,255,255,0.09) !important;
}

.creative{
    margin-top: 20px;
    margin-bottom: 20px;
    background: #6776f3;
    box-shadow: 1px 1px 3px 0 rgba(255,255,255,0.12), inset 1px 1px 10px 0 rgba(70,82,199,0.40);
}

/* FORM */
#contatti{
    background-image: url('../src/img/back-cloud.png');
    background-size: 800px; 
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin-top: 100px;
    width: 100vw !important;
    padding: 70px;
    /* background: #6776f3 !important; */
    box-shadow: 1px 1px 3px 0 rgba(255,255,255,0.12), inset 1px 1px 10px 0 rgba(70,82,199,0.40);
}

#contatti h2{
    font-size: 60px !important;
}

/* form{
    padding: 70px;
    color: white;
    background: #6D7AFD;
    box-shadow: -10px -10px 20px 0 rgba(255,255,255,0.05), 10px 10px 20px 0 rgba(70,82,199,0.41), inset 1px 1px 3px 0 rgba(255,255,255,0.09);
    border-radius: 50px;
    margin: 2%; 
    width: 96%; 
} */

input, textarea{
    background: #626fe7  !important;
    box-shadow: 1px 1px 3px 0 rgba(255, 255, 255, 0.071), inset 1px 1px 10px 0 rgba(70,82,199,0.40)!important;
    width: 100% !important;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none !important;
    border-radius: 22.5px !important;
    box-sizing: border-box;
    height: 100px;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
    color: rgba(255, 255, 255, 0.516) !important;
}

input:focus, textarea:focus{
    outline: none !important;
    border: 2px solid #74EBD5 !important;
}

input, textarea{
    color: white !important;
}

/* FOOTER */

#footer{
    margin-top: 50px;
    margin-bottom: 50px;
}

#footer p{
    margin: 10px;
}

#footer img{
    margin: 10px;
    height: 30px;
}

#footer button{
    padding: 15px;
    border: 2px solid #6D7AFD;
    border-radius: 100px;
    background: #6D7AFD;
    font-size: 18px;
    color: #74EBD5;
    transition-duration: 0.5s;
}